@import "tailwindcss";
@tailwind utilities;

:root {
  --background: black;
  --foreground: #fff;

  --diagonal-gradient: linear-gradient(to bottom right, #963488 0%, #FC6F32 50%, #FF4A59 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-metrophobic: var(--font-metrophobic);
  --font-inter: var(--font-inter);
  --font-spaceGrotesk: var(--font-spaceGrotesk);

  --color-diagonal-gradient: var(--diagonal-gradient)
}

/* styles.css */
@import "tailwindcss";

@theme {
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
}

.container {
  @apply container 2xl:max-w-[1920px] mx-auto px-4 2xl:px-20 xl:px-16 lg:px-12 md:px-8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-border::before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: white;
  z-index: -2;
  border-radius: 91px;
  background: var(--diagonal-gradient);
}

.gradient-border {
  @apply m-0.5 relative
}
